<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} - {% endif %} Citations Elite</title>

    {% block extra_head %}
        {# Pour rajouter du style ou des scripts #}
    {% endblock %}

    {% endblock %}
</head>
<body>
{% block alert %}
    {# Place es alertes #}
{% endblock %}
{% block main %}
    {# Place de l'application principale #}
{% endblock %}
</body>
<footer>
    {% block footer %}
        {# Place du footer #}
    {% endblock %}
</footer>
</html>