{% extends "base.html" %}

{% block main %}

    <ul>
        <li><a href="{% url 'login_discord' %}">Discord</a></li>
        <li><a href="{% url 'login_swano' %}">Swano</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'random_citation' %}">Citation aleatoire</a></li>
    </ul>

{%  endblock %}
